ul {
    display: flex;
  }
  ul li {
    padding: 6px 0;
  }
  ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 4px 0;
    transition: 0.5s;
  }
  ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: red;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  ul li a:hover {
    color: #95a5a6;
  }
  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  carousel {
    width: 100%;
    font-family: Trebuchet MS;
    text-align: center;
    display: block;
    padding-top: 1em;
 }
  carousel page {
    display: flex;
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    transition: transform 0.5s;
    transform: scale(0);
    margin-top: 35rem;
    margin-left: 15rem;
    

 }
  carousel page div {
    padding: 3em;
 }
  carousel #page1cb:checked ~ #page1 {
    transform: scale(1);
 }
  carousel #page2cb:checked ~ #page2 {
    transform: scale(1);
 }
  carousel #page3cb:checked ~ #page3 {
    transform: scale(1);
 }
  carousel #page4cb:checked ~ #page4 {
    transform: scale(1);
 }
  carousel #page5cb:checked ~ #page5 {
    transform: scale(1);
 }
